.no-results {
  border: 2px solid rgb(233, 227, 227);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  width: 100%;
  border-radius: 20px;
  margin: 40px 0 80px 0;
  box-shadow: 0 20px 80px 0 rgba(212, 107, 216, 0.486);
  padding: 12px;
}

.no-results h2 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
}

.no-results img {
  width: 440px;
  margin: 40px 0;
}

.no-results p {
  margin-bottom: 20px;
}

/** 

Media Queries

**/

@media (max-width: 600px) {
  .no-results h2 {
    font-size: 24px;
  }
  .no-results img {
    width: 360px;
  }
}
