.search-bar__container {
  position: relative;
  max-width: 500px;
  width: 60vw;
}

.search-bar__input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 50px;
  padding-left: 16px;
}

.search-bar__input:focus {
  outline: 3px solid rgb(217, 200, 54);
  transition: 100ms ease;
  box-shadow: 0 0 80px -10px rgb(217, 200, 54);
}

.search__btn {
  position: absolute;
  right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: none;
  border: none;
}

.search-bar__icon {
  color: black;
  display: flex;
  margin: 0 auto;
}

.search-bar__icon:hover {
  scale: 1.2;
  transition: 300ms all ease;
}

.search-bar__icon:active {
  scale: 0.9;
  transition: 300ms all ease;
}

/** 

Media Queries

**/

@media (max-width: 600px) {
  .search-bar__container {
    width: 74vw;
  }
}

@media (max-width: 400px) {
  .search-bar__container {
    width: 66vw;
  }
}
