.display-title {
  max-width: 1000px;
  width: 100%;
}

.movie__header {
  display: flex;
  gap: 60px;
}

.movie__poster--wrapper,
.movie__info {
  max-width: 500px;
  width: 100%;
}

.movie__poster {
  width: 100%;
}

.movie__info h1 {
  font-size: 40px;
  font-weight: 600;
}

.movie__info p,
.movie__summary p {
  margin-top: 12px;
}

.movie__summary {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}

.movie__summary h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/** 

Media Queries

**/

@media (max-width: 1100px) {
  .movie__header {
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .movie__info h1 {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .movie__header {
    margin-top: 20px;
  }
}

@media (max-width: 550px) {
  .movie__header {
    flex-direction: column;
  }
}
