.card {
  width: calc(87% / 4);
  border: 2px solid rgb(233, 227, 227);
  border-radius: 20px;
  padding: 20px;
  background-color: black;
}

.card:hover {
  scale: 1.1;
  transform: translateY(-50px);
  transition: all 300ms ease;
  box-shadow: 0 5px 80px -10px rgb(217, 200, 54);
  z-index: 2;
}

.movie-poster--wrapper {
  text-align: center;
}

.movie-poster {
  width: 100%;
  border-radius: 20px;
}

/** 

Media Queries

**/

@media (max-width: 1200px) {
  .card {
    width: calc(86% / 4);
  }
}

@media (max-width: 1000px) {
  .card {
    width: calc(91% / 3);
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(95% / 2);
  }
}

@media (max-width: 600px) {
  .card h3 {
    font-weight: 500;
  }
}

@media (max-width: 550px) {
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
}
