.footer__container {
  background-image: linear-gradient(
    to bottom,
    black,
    rgb(227, 114, 227),
    black
  );
}

.footer__row {
  display: flex;
  max-width: 1400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.footer__img {
  margin: 60px 0 30px 0;
}

.footer__links {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  text-decoration: none;
  color: black;
  position: relative;
  font-weight: 500;
  font-size: 18px;
}

.copyright {
  margin: 30px 0 60px 0;
}

/** 

Media Queries

**/

@media (max-width: 600px) {
  .footer__links {
    justify-content: space-around;
  }
}
