@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  scroll-behavior: smooth;
}

.container {
  background-color: black;
  display: flex;
  justify-content: center;
  z-index: -100;
}

.link__hover--effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  background-color: black;
  transition: all 300ms ease;
}

.link__hover--effect:hover:after {
  width: 100%;
  left: 0;
}

.gray-text {
  color: rgb(233, 227, 227);
}

a {
  text-decoration: none;
}

.no-cursor {
  cursor: not-allowed;
}
.cursor {
  cursor: pointer;
}

.logo__img {
  height: 50px;
  border-radius: 10px;
}

.logo__img:hover {
  opacity: 0.9;
}

.logo__img:hover {
  scale: 1.05;
  transition: 300ms ease all;
}

.logo__img:active {
  scale: 0.9;
  transition: 300ms all ease;
}
